.category_card {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color: rgb(177, 177, 177);
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  opacity: 0px;
  width: 248px;
  height: 392px;
  gap: 0px;
  opacity: 0px;
}

.category_card img {
  max-width: 248px;
  height: 260px;
  border-radius: 20px;
}

.category_card p  {
  align-self: center;
  text-decoration: none;
}

