.container{
    height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px){
  .container{
    height: 470px;
  display: flex;
  flex-direction: column;
  background-color: gray;
}
}