.body_sales{
    width: 1440px;
    margin: auto;
    margin-top: 60px;
    display: grid; 
    grid-template-columns: repeat(4, 3fr);
    border-top: 1px solid rgb(207, 207, 207);
    gap: 30px;
    position: relative;
    justify-content: center;
    left: 15px;
    margin-bottom: 25px;
}

.body_sales div {
    margin-top: 33px;   
}

.body_sales img {
    border-radius: 20px;
}

.body_sales h2:nth-of-type(1){
    position: absolute;
    top: -50px;
  
    font-size: 64px;
    background-color:  #FFFFF1;
    padding: 0px, 100px;
    border-radius: 10px;
    color: #424436;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 700px;
}

.class_div > a {
    text-decoration: none;
    position: absolute;
    top: -40px;
    right: 0px;
    background-color:  #FFFFF1;
    padding: 0px, 100px;
    border-radius: 5px;
    border: 1px solid rgb(208, 208, 208);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 30px;
    width: 100px;
    color: rgb(143, 143, 143);
    text-align: center;

}
@media (max-width: 1000px){
    .body_sales{
        width: 960px;
        margin: auto;
        margin-top: 60px;
        display: grid; 
        grid-template-columns: repeat(4, 3fr);
        border-top: 1px solid rgb(207, 207, 207);
        gap: 30px;
        position: relative;
        justify-content: center;
        left: 15px;
        margin-bottom: 25px;
    }
    .body_sales h2:nth-of-type(1){
        font-weight: 700px;
        font-size: 64px;
    }
}

@media (max-width: 768px){
    .body_sales{
        width: 728px;
        margin: auto;
        margin-top: 60px;
        display: grid; 
        grid-template-columns: repeat(2, 3fr);
        border-top: 1px solid rgb(207, 207, 207);
        gap: 30px;
        position: relative;
        justify-content: center;
        left: 15px;
        margin-bottom: 25px;
    }
    .body_sales h2:nth-of-type(1){
        font-weight: 700px;
        font-size: 56px;
    }
    
}

@media (max-width: 480px){
    .body_sales{
        width: 480px;
        margin: auto;
        margin-top: 60px;
        display: grid; 
        grid-template-columns: repeat(2, 3fr);
        border-top: 1px solid rgb(207, 207, 207);
        gap: 30px;
        position: relative;
        justify-content: center;
        left: 15px;
        margin-bottom: 25px;
    }
    .body_sales h2:nth-of-type(1){
        font-weight: 700px;
        font-size: 48px;
    }
}