.main {
    max-width: 1440px;
    margin: auto;
    height: 600px;
    overflow: hidden;   
    position: relative;
    border: 0px solid;
    
}

.main img {
    max-width: 1440px;
    width: 1440%;
    height: 900px;
    margin: auto;
    filter: brightness(70%);
    
}


.main > img {
    display: block;
    margin-top: -25%;
}

.Main {
    width: 100%;
    height: auto;
    margin: auto;
   position: absolute;
   top: 50px;
   left: 40px;
   color: white;
   font-weight: 700;
   font-size: 85px;
   font-family: "Montserrat", sans-serif;
}

.Main > a {
    display: flex;
    position: absolute;
    border: 1px solid #92A134;
    background-color: #92A134;
    color: white;
    width: 218px;
    height: 58px;
    margin: auto;
    text-decoration: 0;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
}

.category > a{
    text-decoration: none;
    top: -9px;
    max-width: 1440px;
    margin: auto;
    background-color:  #FFFFF1;
    border-radius: 5px;
    border: 1px solid rgb(208, 208, 208);
    color: rgb(144, 144, 144);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    white-space: nowrap;
}

.category {
    max-width: 1360px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    margin-bottom: 10px;
   }

.category h2:nth-of-type(1){
    position: relative;
    left: 0px;
    width: 1360px;
    font-size: 64px;
    margin: auto;
    font-weight: 700;
    background-color: #FFFFF1;
    padding: 0px, 100px;
    padding-left: 40px;
  
   /* border-radius: 10px;
    border: 10px solid white; */
    color: #424436;
    font-family: "Montserrat", sans-serif;
}

.sale_main {
    position: relative;
    margin-top: 90px;
}

