.header {
    max-width: 1440px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
 
.header img {
    height: 45px;
    width: 45px
}