.header {
    max-width: 1440px;
    margin: auto;
    background-color:  #FFFFF1;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    
}
 
.header img {
    margin-right: 0;
    height: 50px;
    width: 50px;
    position: relative;
    
}



.count {  
    left: 5px;
    border-radius: 50%;
    padding: 5px;
} 

.number{
    max-width: 1440px;
    margin: auto;
    margin-right: 8%;
    position: absolute;

    top: 20px;
    right: 13px;
    background-color: #92A134;
    color: white;

    border-radius: 10px;
    height: 17px;
    width: 17px;
    text-align: center;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.header > svg {
    display: none;
    
}

@media (max-width: 480px){
    .header > svg {
        display: block;
        font-size: 40px;
        cursor: pointer;
        color: #424436;
        position: relative;
        
        
    }
    
}