.card{
    border: 1px solid #DDDDDD;
    width: 780px;
    height: 180px;
    
}
.card > img{
    width: 200px;
    height: 180px;
    border-radius: 1px solid #DDDDDD;
}

.card > div{
    width: 548px;
    height: 180px;
}
