.categories_container {
  max-width: 1360px;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.title {
  padding-top: 50px;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
  padding: 20px;
}
.breadCrumbs {
  display: flex;
  align-items: center;
}

.breadCrumbs > a {
  display: flex;
  padding: 8px 16px 8px 16px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  color: #8b8b8b;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 20.16px;
}

.breadCrumbs > a:hover {
  background-color: #f2f6d3;
}

.breadCrumbs > span {
  display: flex;
  padding: 8px 16px 8px 16px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

hr {
  border: none;
  border-top: 1px solid #dddddd;
  height: 2px;
  width: 16px;
}

@media (max-width: 1000px) {
  .categories_container {
    max-width: 960px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .categories_container {
    max-width: 960px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
 
  }

  .breadCrumbs {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
}
@media (max-width: 480px) {
  .categories_container {
    max-width: 440px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   gap: 24px;
  }
}
@media (max-width: 360px) {
  .categories_container {
    max-width: 320px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   gap: 20px;
  }
}
