/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

*{
    font-family: Montserrat;
}

.footer {
    /* position: fixed; */
    padding: 0px 40px 80px 40px;
    max-width: 1440px;
    margin: auto;
    height: 948px;
    top: 2594px;
    gap: 40px;
}

.contactText {
    font-size: 64px;
}

.cardsWrapper {
    display: grid;
    grid-template-columns: 780px 548px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin-top: 40px;
    margin-bottom: 32px;
}

.phone {
    height: 150px;
    padding: 32px;
    background: #F2F6D3;
    border-radius: 10px;

}

.phone :first-child {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #8B8B8B;
}

.phone :last-child {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 16px;
    color: #424436;
}

.socials {
    height: 150px;
    padding: 32px;
    background: #F2F6D3;
    border-radius: 10px;

}

.socialsText {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #8B8B8B;
}

.socials svg {
    color: black;
    width: 43px;
    height: 44px;
    margin-top: 16px;
    color: #424436;
}

.address {
    height: 194px;
    padding: 32px;
    background: #F2F6D3;
    border-radius: 10px;
}

.address :first-child {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #8B8B8B;
}

.address :last-child {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 16px;
    color: #424436;
}

.hours {
    height: 194px;
    padding: 32px;
    border-radius: 10px;
    background-color: #f2f6d3;
}

.hours :first-child {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #8B8B8B;
}

.hours :last-child {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: #424436;
    margin-top: 16px;

}


.map {
    width: 1360px;
    height: 350px;
    max-width: 100%;
    border: none;
    border-radius: 10px;
}